.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-col {
  margin: 10px;
  text-align: center;
}

#skill-logo {
  max-width: 60px;
  height: 60px;
}

.skill-name {
  font-size: 16px;
  color: var(--font-color);
  text-align: center;
}

.skill-descriptions {
  list-style-type: none;
  padding-left: 0;
  margin-top: 150px;
  font-size: 24px;

}

.skill-descriptions li {
  margin-bottom: 25px;
  color: var(--font-color);
}

.skill-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.skill-bar-container {
  flex-grow: 1;
  height: 20px;
  background-color: var(--grey);
  margin-left: 10px;
  border-radius: 10px;
}

.skill-bar {
  height: 100%;
  background-color: var(--purple);
   border-radius: 10px;
   transition: width 1.5s ease-out;
}

@media (max-width: 950px) {
  .skill-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .skill-logo {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 0.8em;
  }

  .skill-descriptions {
    margin-top: 0;
    /* font-size: 16px; */
    
  }
   .skill-descriptions li {
    text-align: center;
 
  }
}

@media (max-width: 767px) {


  .skill-descriptions {
    /* margin-top: 0; */
    font-size: 16px;
  }
}
