.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-col {
  margin: 10px;
  text-align: center;
}

.skill-logo {
  max-width: 80px;
  height: auto;
}

.skill-name {
  font-size: 16px;
  color: var(--appleBlack);
  text-align: center;
}

.skill-descriptions {
  list-style-type: none;
  padding-left: 0;
  margin-top: 50px;
}

.skill-descriptions li {
  margin-bottom: 10px;
  color: var(--appleBlack);
}

@media (max-width: 767px) {
  .skill-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .skill-logo {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 0.8em;
  }

  .skill-descriptions {
    margin-top: 0;
  }
}
