

#about h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--font-color);
}

#about p {
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--font-color);
}

.btn.btn-custom {
  color: var(--purple);
  font-weight: bolder;
  position: relative;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
  padding-bottom: 2px;

  &:hover,
  &:focus {
    color: var(--purple);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--purple);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    visibility: visible;
    width: 100%;
  }

  &:active {
    color: var(--orange);
  }

  &:active::after {
    background-color: var(--orange);
  }
}

.shadow-custom {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 767px) {
  #about {
    margin-left: 9px;
  }

  #about p {
    font-size: 1rem;
  }
  .about-title {
    font-size: 32px;
  }
}
