.card {
  background-color: var(--background);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  color: var(--purple);
}

.card-text {
  color: var(--font-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-custom {
  color: var(--appleWhite);
  background-color: var(--purple);
  font-weight: bold;
}

.btn-custom:hover {
  color: var(--purple);
  background-color: var(--appleWhite);
  border-color: var(--purple);
}

.btn.btn-custom:focus,
.btn.btn-custom:active {
  background-color: var(--purple);
  color: var(--appleWhite);
  border-color: var(--purple);
  box-shadow: none;
}

.btn.btn-custom:active:focus,
.btn.btn-custom:focus:hover {
  background-color: var(--appleWhite);
  color: var(--purple);
  border-color: var(--purple);
  box-shadow: none;
}

.shadow-custom {
  box-shadow: var(--shadow) !important;
}
