.navbar-dark .navbar-toggler-icon {
  background-color: var(--purple);
  border-radius: 20%;
  width: 30px;
  height: 30px;
}

.navbar {
  background-color: var(--background);
  color: var(--font-color);
  
}

.brand-name {
  color: var(--purple);
  font-family: "Kaushan Script", cursive;
}

.brand-name,
.text-muted {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.nav-list li {
  margin-left: -8px; 
}


.nav-list li:last-child {
  margin-right: 0; 
}
.nav-list li a {
  color: var(--purple);
  font-weight: bolder;
  position: relative;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: var(--orange);
}

.nav-list li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-list li a:hover::after {
  visibility: visible;
  width: 100%;
}

.nav-list li a:active {
  color: var(--orange);
}

.active-link {
  color: var(--orange) !important;
}

.navbar-brand-link {
  text-decoration: none; 
  color: inherit; 
}



@media (max-width: 992px) {
  .navbar-collapse {
    width: 100%; 
    flex-grow: 1; 
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%; 
    padding-left: 0; 
  }

  .brand-name {
    font-size: 32px;
  }
}

