.school-name {
  color: var(--font-color);
  word-wrap: break-word;
}

.subheader {
  color: var(--font-color);
  word-wrap: break-word;
}


#skill-logo {
  width: 500px;
  height: auto; 
}

.btn:focus, .btn.focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-custom {
  color: var(--appleWhite);
  background-color: var(--purple);
  font-weight: bold;
  display: inline-block; 
  width: auto;
}

.btn-custom:hover {
  color: var(--purple);
  background-color: var(--appleWhite);
  border-color: var(--purple);
}

.btn.btn-custom:focus,
.btn.btn-custom:active {
  background-color: var(--purple);
  color: var(--appleWhite);
  border-color: var(--purple);
  box-shadow: none;
}

.btn.btn-custom:active:focus,
.btn.btn-custom:focus:hover {
  background-color: var(--appleWhite);
  color: var(--purple);
  border-color: var(--purple);
  box-shadow: none;
}

.shadow-custom {
  box-shadow: var(--shadow) !important;
}


@media (max-width: 820px) {
  #skill-logo {
    width: 100px;
    height: auto;
  }
}

/* Smartphone view */
@media (max-width: 576px) {
  #skill-logo {
    width: 60px;
    height: auto;
  }
}