.card {
  margin-bottom: 1em;
  border: none;

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

.card-body {
  .row {
    align-items: center; 
  }

  .school-name {
    color: var(--font-color);
    word-wrap: break-word;
  }

  .education-info {
    .subheader {
      color: var(--font-color);
      word-wrap: break-word;
    }
    .duration {
      color: var(--font-color);
    }
  }
}

.education-logo {
  width: 150px ; 
  height: auto; 
  margin-left: 55px;
}

/* .btn:focus, .btn.focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-custom {
  color: var(--appleWhite);
  background-color: var(--purple);
  font-weight: bold;
  display: inline-block; 
  width: auto;
}

.btn-custom:hover {
  color: var(--purple);
  background-color: var(--appleWhite);
  border-color: var(--purple);
}

.btn.btn-custom:focus,
.btn.btn-custom:active {
  background-color: var(--purple);
  color: var(--appleWhite);
  border-color: var(--purple);
  box-shadow: none;
}

.btn.btn-custom:active:focus,
.btn.btn-custom:focus:hover {
  background-color: var(--appleWhite);
  color: var(--purple);
  border-color: var(--purple);
  box-shadow: none;
}

.shadow-custom {
  box-shadow: var(--shadow) !important;
} */


@media (max-width: 820px) {
  .education-logo {
    width: 100px;
    height: auto;
    margin-left: 0;
  }
}

/* Smartphone view */
@media (max-width: 576px) {
  /* .skill-logo {
    width: 60px;
    height: auto;
  } */

  .card-body  {
    font-size: 14px;
  }


}