footer {
  padding: 35px ;
  margin-bottom: 0;
  background-color: var(--background);
  text-align: center;
  
}

footer div a {
  margin: 0 10px;
}

footer div a img {
  height: 50px;
  width: 50px;
}

/* .logo{
  position: absolute;
  left:50%;
  bottom: 0; 
} */